/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #999;
}

a:hover{
    color: #fff;
}

.btn{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover{
    color: #999;
    border: 1px solid #999;
    transform: scale(1.1);
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.flex{
    display: flex;
}
/* FINE REGOLE GENERALI */

/* REGOLE MAIN NAV */
main{
    height: 100%;
}

.main-nav{
    width: 200px;
    height: 100%;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;
}

.logo-nav{
    margin-bottom: 10px;
    padding: 20px;
}

.main-nav .menu-nav img{
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
    color: #999;
}
/* REGOLE MAIN NAV MENU */
.main-nav .menu-nav a:hover img{
    color: #fff;
}

.menu-nav ul li{
    padding: 5px 10px;
}

.here{
    border-left: 2px solid #94dd25;
    padding-left: 8px;
}

.menu-nav ul li:hover{
    border-left: 2px solid #94dd25;
    padding-left: 8px;
}

.menu-text{
    font-size: 15px;
    font-weight: 600;
}

/* REGOLE MAIN NAV MENU PLAYLIST */
.container-playlist-nav{
    padding: 0px 10px;
}

.container-playlist-nav h3{
    padding: 10px 0px;
    color: #fff;
}

.container-playlist-nav a i{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 20px; 
}

.playlist-nav ul li{
    padding: 10px 0px;
}

.playlist-nav{
    overflow-y: auto;
    min-height: 50px;
    padding: 0px 10px;
}
/* REGOLE MAIN NAV MENU PLAYLIST BOTTOM */
.main-nav .bottom-nav{
    padding: 0px 10px;
}

.main-nav .bottom-nav .download-nav{
    border-bottom: 1px solid #999;
    line-height: 40px;
}

.main-nav .bottom-nav .download-nav a{
    padding: 5px 0px;
}

.main-nav .bottom-nav .download-nav img{
    height: 20px;
    vertical-align: middle;
    margin-right: 20px;
    color: #999;
}

.main-nav .bottom-nav .profile-nav img{
    height: 30px;
    vertical-align: middle;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    background-color: #999;
}
/* FINE REGOLE MAIN NAV */

/* REGOLE MAIN CONTENT */
.content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding-top: 100px;
}
/* REGOLE MAIN CONTENT UPGRATE */
.container-upgrate{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    width: calc(100% - 200px);
    z-index: 1;
}

.content .container-upgrate .upgrate{
    display: inline-block;
    margin-top: 20px;
}
/* REGOLE MAIN CONTENT NAV PRINCIPALE */
.main-content-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.main-content-nav ul li{
    font-size: 12px;
    line-height: 50px;
    margin: 0px 20px;
}
/* REGOLE MAIN CONTENT CONTAINER PLAYED */
.container-played h2{
    color: #fff;
    padding: 20px 0px;
    margin-left: 20px;
}

.played-list{
    flex-wrap: wrap;
    margin-left: 10px;
}

.played-element{
    flex-basis: calc(100% / 6);
    margin: 0px 10px;
    padding-bottom: 20px;
    text-align: center;
    
}

.played-element .cover img{
    width: 100%;
}

.played-element:hover{
    cursor: pointer;
}

.played-element .cover-text h3{
    color: #fff;
    padding-top: 10px;
    line-height: 20px;
}

.played-element .cover-text p{
    color: #999;
    font-size: 12px;
    padding-top: 10px;
}