/* REGOLE GENERALI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #999;
}

a:hover{
    color: #fff;
}

.btn{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    float: right;
    margin-right: 40px;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.btn:hover{
    color: #999;
    border: 1px solid #999;
    transform: scale(1.1);
}

.clearfix{
    content: '';
    display: table;
    clear: both;
}

.flex{
    display: flex;
}
/* FINE REGOLE GENERALI */

/* REGOLE MAIN NAV */
#container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

main{
    display: flex;
    height: calc(100vh - 90px);
}

.main-nav{
    width: 250px;
    height: 100%;
    background-color: #000;
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
}

.logo-nav{
    margin-bottom: 10px;
    padding: 20px;
    z-index: 2;
}

.logo-nav .logo-piccolo{
    display: none;
}

.main-nav .menu-nav img{
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
    color: #999;
}

.top-nav{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
}

.bottom-nav{
    height: 100px;
}
/* REGOLE MAIN NAV MENU */
.main-nav .menu-nav a:hover img{
    color: #fff;
}

.menu-nav ul li{
    padding: 5px 10px;
}

.here{
    border-left: 2px solid #94dd25;
    padding-left: 8px;
}

.menu-nav ul li:hover{
    border-left: 2px solid #94dd25;
    padding-left: 8px;
}

.menu-text{
    font-size: 15px;
    font-weight: 600;
}

/* REGOLE MAIN NAV MENU PLAYLIST */
.container-playlist-nav{
    padding: 0px 10px;
}

.container-playlist-nav h3{
    padding: 10px 0px;
    color: #fff;
}

.container-playlist-nav a i{
    font-size: 30px;
    vertical-align: middle;
    padding-right: 10px; 
}

.playlist-nav ul li{
    padding: 10px 0px;
}

.playlist-nav{
    overflow-y: auto;
    padding: 0px 10px;
}
/* REGOLE MAIN NAV MENU PLAYLIST BOTTOM */
.main-nav .bottom-nav{
    padding: 0px 10px;
}

.main-nav .bottom-nav .download-nav{
    border-bottom: 1px solid #999;
    line-height: 40px;
}

.main-nav .bottom-nav .download-nav a{
    padding: 5px 0px;
}

.main-nav .bottom-nav .download-nav img{
    height: 20px;
    vertical-align: middle;
    margin-right: 20px;
    color: #999;
}

.main-nav .bottom-nav .profile-nav {
    line-height: 50px;
}

.main-nav .bottom-nav .profile-nav img{
    height: 30px;
    vertical-align: middle;
    margin-right: 20px;
    color: #fff;
    border-radius: 50%;
    background-color: #999;
}
/* FINE REGOLE MAIN NAV */

/* REGOLE MAIN CONTENT */
.content{
    width: calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    overflow: auto;
    padding-top: 100px;
}
/* REGOLE MAIN CONTENT UPGRATE */
.container-upgrate{
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100px;
    width: calc(100% - 200px);
    z-index: 1;
}

.content .container-upgrate .upgrate{
    display: inline-block;
    margin-top: 20px;
}
/* REGOLE MAIN CONTENT NAV PRINCIPALE */
.main-content-nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.main-content-nav ul li{
    font-size: 12px;
    padding: 20px 0px 5px 0px;
    margin: 0px 20px;
    position: relative;
}

.main-content-nav .main-content-nav-list li a.active-menu::after{
    content: "";
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main-content-nav .main-content-nav-list li a:hover::after{
    content: "";
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* REGOLE MAIN CONTENT CONTAINER PLAYED */
.container-played h2{
    color: #fff;
    padding: 20px 0px;
    margin-left: 20px;
}

.played-list{
    flex-wrap: wrap;
    margin-left: 10px;
}

.played-element{
    flex-basis: calc(100% / 6);
    margin: 0px 10px;
    padding-bottom: 20px;
    text-align: center;
    
}

.played-element .cover,
.played-element .cover-rounded{
    position: relative;
}

.played-element .cover img,
.played-element .cover-rounded img{
    width: 100%;
}

.played-element .cover .img-layover,
.played-element .cover-rounded .img-layover{
    font-size: 70px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.played-element:hover{
    cursor: pointer;
}

.played-element:hover .cover img,
.played-element:hover .cover-rounded img{
    opacity: 0.5;
}

.played-element:hover .cover .img-layover,
.played-element:hover .cover-rounded .img-layover{
    display: block;
}

.played-element .cover-text h3{
    color: #fff;
    padding-top: 10px;
    line-height: 20px;
}

.played-element .cover-text p{
    color: #999;
    font-size: 12px;
    padding-top: 10px;
}
/* REGOLE MAIN CONTENT CONTAINER CREATE */
.container-create{
    display: flex;
    flex-direction: column;
}

.container-create h2{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.container-create p {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
    padding-bottom: 25px;
    margin-left: 20px;
  }
/* REGOLE MAIN CONTENT CONTAINER ARTIST */
.container-artist{
    display: flex;
    flex-direction: column;
}

.container-artist h2{
    color: #fff;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 20px;
}

.container-artist p {
    color: #999;
    font-size: 12px;
    padding-bottom: 25px;
    margin-left: 20px;
  }

.container-artist .cover-rounded img{
    width: 100%;
    border-radius: 50%;
}

/* FOOTER */
footer{
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #282828;
}

#container-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}

.audio-bar:hover .active-bar{
    color: #94dd25;
}

/* FOOTER COL SX */
#container-footer .song{
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container-footer .song .song-cover{
    height: 100%;
}

#container-footer .song .song-cover img{
    height: 100%;
    margin-right: 10px;
}

#container-footer .song .song-name h3{
    color: #fff;
    font-size: 12px;
    margin-right: 10px;
}

#container-footer .song .song-name p{
    color: #999;
    font-size: 10px;
    margin-right: 10px;
}

.song-save{
    display: flex;
    justify-content: space-between;
}

#container-footer .song .song-save .first{
    padding-right: 10px;
    padding-left: 30px;
}
/* FOOTER COL CENTER */
#container-footer .controller{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    padding: 0px 50px;
}

#container-footer .controller .player-button ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 20px;
    vertical-align: middle;
}

#container-footer .controller .player-button ul li a{
    display: inline-block;
    color: #fff;
}

#container-footer .controller .player-button ul li a:hover{
    color: #999;
}

.big{
    font-size: 35px;
}

.big:hover{
    transform: scale(1.2);
}

.player-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-time .active-bar{
    color: #999;
    font-size: 12px;
    padding-right: 20px;
}

.time-bar{
    height: 4px;
    border-radius: 4px;
    background-color: #999;
    cursor: pointer;
    flex-grow: 1;
}

.active-bar{
    position: relative;
    height: 100%;
    width: 20%;
    border: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.time-sx {
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.time-dx {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.active-bar .bar-point{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}
/* FOOTER COL DX */
#container-footer .audio{
    width: 20%;
    padding: 10px;
}

#container-footer .audio .audio-list{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#container-footer .audio .audio-volume{
    justify-content: center;
    align-items: center;
}

#container-footer .audio .audio-volume a{
   padding-right: 10px;
}

.audio-item{
    padding-right: 20px;
}

.audio-item a, .audio-volume a{
    color: #fff;
}

.audio-item a:hover, .audio-volume a:hover{
    color: #999;
}

.audio-bar{
    height: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: #999;
    cursor: pointer;
    flex-grow: 1;
}

.audio-bar .active-bar{
    position: relative;
    height: 100%;
    width: 20%;
    border: 4px;
    border-radius: 4px;
    background-color: #fff;
}

.audio-bar .bar-point{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    display: block;
}



/* RESPONSIVE CON MEDIA QUERY AL DI SOTTO DEI 600PX */
@media (max-width: 600px){
    /* MEDIA QUERY PER MODIFICARE CONTENITORE NAV DX */
    nav.main-nav{
        width: 50px;
    }

    .main-nav{
        width: calc(100% - 50px);
        padding: 10px;
    }
     /* MEDIA QUERY PER MODIFICARE MENU NAV DX */
    .menu-nav ul li{
        padding: 5px 0px;
    }

    .menu-nav ul li.here{
        border-left: 0px;
        padding-left: 0px;
    }   

    .main-nav .menu-nav{
        flex-grow: 1;
    }
    /* MEDIA QUERY PER MODIFICARE VISIBILITA' LOGO GRANDE E PICCOLO */
    .logo-nav{
        padding: 0px;
    }

    .logo-nav .logo .logo-piccolo{
        display: block;
    }

    .logo-nav .logo .logo-grande{
       display: none;
   } 
    /* MEDIA QUERY PER NASCONDERE PLAYLIST NELLA VERSIONE MOBILE */
    .main-nav .container-playlist-nav,
    .main-nav .playlist-nav{
        display: none;
    }

    .main-nav .menu-text{
        display: none;
    }
    /* MEDIA QUERY PER MODIFICARE SPAZITURA SEZIONE UPGRATE */
    .container-upgrate{
        width: calc(100% - 50px);
    }
    /* MEDIA QUERY PER CREARE SPAZIATURE NELLA BOTTOM NAV */
    .main-nav .bottom-nav{
        padding: 0px;
    }
   
    .download-nav a img{
        padding-left: 4px;
    }

    .main-nav .bottom-nav .download-nav{
        border-bottom: none;
    }
    /* MEDIA QUERY PER MODIFICARE CONTENITORE MAIN PRINCIPALE */
     .content{
        width: 100%;
    }

    .main-content-nav{
        width: calc(100% - 50px);
    }
    /* MEDIA QUERY PER ALLINEARE MENU PRINCIPALE AL CENTRO */
    .main-content-nav ul li{
        margin: 0px 10px;
    }
    /* MEDIA QUERY PER ALLINEARE ELEMENTI AL CENTRO */
    .played-list{
        margin: 0px 10px;
    }
    
    .played-element{
        margin: 0px 10px;
    }
    /* MEDIA QUERY ELEMENTI AL CENTRO + RIDIMENSIONAMENTO TESTO COVER */
    .cover-text h3{
        font-size: 12px;
    }

    /* MEDIA QUERY PER MODIFICARE CONTENIORE FOOTER */
    /* MEDIA QUERY PER MODIFICARE CONTENIORE FOOTER RIDIMENSIONAMENTO 3 SPAZI */
    #container-footer .song{
        flex-grow: 1;
    }

    #container-footer .controller{
        flex-grow: 2;
    }

    #container-footer .audio{
        flex-grow: 1;
    }
    /* MEDIA QUERY PER MODIFICARE COL SX DIMENSIONI */
    #container-footer .song .song-cover img{
        height: 80%;

    }

    #container-footer .song{
        width: 25%;
    }

    #container-footer .song .song-cover{
        height: 80%;
    }
    
    #container-footer .song .song-cover img{
        height: 80%;
        margin-right: 5px;
        margin-left: 10px;
    }

    #container-footer .song .song-name h3{
        font-size: 10px;
        margin-right: 5px;
    }
    
    #container-footer .song .song-name p{
        font-size: 9px;
        margin-right: 5px;
    }
    
    .song-save{
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        font-size: 13px;
    }
    
    #container-footer .song .song-save .first{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
    }

    /* MEDIA QUERY PER MODIFICARE COL CENTRALE DIMENSIONI */
    #container-footer .controller{
        width: 25%;
        padding: 0px 2px;
    }

    #container-footer .controller .player-button ul li{
        font-size: 15px;
        padding: 0px 2px;
        margin-bottom: 10px;
    }

    .big{
        font-size: 25px;
    }  

     /* MEDIA QUERY PER MODIFICARE COL DX DIMENSIONI */
    #container-footer .audio{
        width: 25%;
    }
} 
/* FINE RESPONSIVE CON MEDIA QUERY AL DI SOTTO DEI 600PX */



/* MEDIA QUERY IMPOSTATE A DIVERSE GRANDEZZE PER POSIZIONARE ELEMENTI AL CENTRO */
@media (max-width: 1170px){
    .played-element{
        flex-basis: calc(100% / 5 - 20px);
        margin: 0px 10px;
    }
}

@media (max-width: 1060px){
    .played-element{
        flex-basis: calc(100% / 4 - 20px);
        margin: 0px 10px;
    }
}

@media (max-width: 826px){
    .played-element{
        flex-basis: calc(100% / 3 - 20px);
        margin: 0px 10px;
    }
}

@media (max-width: 684px){
    .played-element{
        flex-basis: calc(100% / 2 - 20px);
        margin: 0px 10px;
    }
}

@media (max-width: 343px){
    .played-element{
        flex-basis: calc(100% - 20px);
        margin: 0px 10px;
    }
}
/* FINE MEDIA QUERY IMPOSTATE A DIVERSE GRANDEZZE PER POSIZIONARE ELEMENTI AL CENTRO */



/* RESPONSIVE CON MEDIA QUERY AL DI SOTTO DEI 768PX */
@media (max-width:768px){

    /* MEDIA QUERY ELEMENTI AL CENTRO + RIDIMENSIONAMENTO TESTO COVER */
    .cover-text h3{
        font-size: 13px;
    }

    /* MEDIA QUERY PER MODIFICARE CONTENIORE FOOTER */
    /* MEDIA QUERY PER MODIFICARE CONTENIORE FOOTER RIDIMENSIONAMENTO 3 SPAZI */
    #container-footer .song{
        flex-grow: 1;
    }

    #container-footer .controller{
        flex-grow: 2;
    }

    #container-footer .audio{
        flex-grow: 1;
    }
    /* MEDIA QUERY PER MODIFICARE COL SX DIMENSIONI */
    #container-footer .song .song-cover img{
        height: 80%;

    }

    #container-footer .song{
        width: 25%;
    }

    #container-footer .song .song-cover{
        height: 80%;
    }
    
    #container-footer .song .song-cover img{
        height: 80%;
        margin-right: 5px;
        margin-left: 10px;
    }

    #container-footer .song .song-name h3{
        font-size: 10px;
        margin-right: 5px;
    }
    
    #container-footer .song .song-name p{
        font-size: 9px;
        margin-right: 5px;
    }
    
    .song-save{
        flex-direction: column;
        align-items: center;
        padding-left: 5px;
        font-size: 13px;
    }
    
    #container-footer .song .song-save .first{
        padding-right: 0px;
        padding-left: 0px;
        padding-bottom: 5px;
    }

    /* MEDIA QUERY PER MODIFICARE COL CENTRALE DIMENSIONI */
    #container-footer .controller{
        width: 25%;
        padding: 0px 5px;
    }

    #container-footer .controller .player-button ul li{
        font-size: 20px;
        padding: 0px 5px;
        margin-bottom: 10px;
    }

    .big{
        font-size: 30px;
    }  

     /* MEDIA QUERY PER MODIFICARE COL DX DIMENSIONI */
    #container-footer .audio{
        width: 25%;
    }
}
/* FINE RESPONSIVE CON MEDIA QUERY AL DI SOTTO DEI 768PX */